@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', monospace;
    background-color: rgba(24,24,24, 1);
    color: #fff7ff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

* {
    box-sizing: border-box;
  }